basePath: /
definitions:
  internal_route.CoordsResponse:
    properties:
      coords:
        items:
          items:
            type: number
          type: array
        type: array
    type: object
  internal_route.PathDTO:
    properties:
      point:
        items:
          type: number
        type: array
      shape:
        type: string
    type: object
  internal_route.PathResponse:
    properties:
      check:
        type: boolean
    type: object
host: maps.e-bus.site
info:
  contact:
    email: suro@hyneo.ru
    name: Suro
    url: https://t.me/suronek
  description: This is documentation api for backend
  title: Map Service Swagger API
  version: "1.0"
paths:
  /maps/{coordinates}/:
    get:
      consumes:
      - application/json
      parameters:
      - description: '[{longitude},{latitude};{longitude},{latitude}[;{longitude},{latitude}
          ...]'
        in: path
        name: coordinates
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/internal_route.CoordsResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get path
      tags:
      - map
  /maps/check:
    post:
      consumes:
      - application/json
      parameters:
      - description: dto
        in: body
        name: dto
        required: true
        schema:
          $ref: '#/definitions/internal_route.PathDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/internal_route.PathResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get path
      tags:
      - map
securityDefinitions:
  authorization:
    in: header
    name: authorization
    type: apiKey
swagger: "2.0"
